.namn{
    background-color: rgb(20, 44, 54);
    margin: 50px;
    text-align: right;
    width: 30vw;
    color: white;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.noMargin {
    margin: 0;
}
  
  .noText {
      color: white;
      text-decoration: none;
      font-style: unset;
      

  }
  
  .noText:hover {
      color: rgb(230, 219, 219);
  }
  
  body {
      background-color: whitesmoke;
  }
  .logo{
      display: flex;
      justify-content: flex-start;
      scale: 60%;
  }
  
  .noMargin {
      margin: 0%;
  }
  
  .space {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 3%;
  }
  
  .full-width {
    width: 90vw;
    display: flex;
    justify-content: end;
    
  }

.up {
    display: flex;
    background-color: rgb(20, 44, 54);
    font-size: 11px;
    position: fixed;
    width: 100%;
    top: 0%;
  }

.kort {
    margin-top: 85px;
}
  
  .noText {
      color: white;
      text-decoration: none;
      font-style: unset;
  }
  
  .noText:hover {
      color: rgb(215, 204, 204);
  }
  
  body {
      background-color: whitesmoke;
  }

  .logo{
      display: flex;
      justify-content: flex-start;
      scale: 60%;
      width: 100;
      max-width: 100%;
  }
  
  .image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85px;
    height: 85px;
    width: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .image:hover {
    transform: scale(1.05);
  }

  .noMargin {
      margin: 0%;
  }
  
  .space {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 3%;
  }
  
  h1{
      margin: 0%;
  }
  
  footer {
      background-color: rgb(20, 44, 54);
      color: #fff;
      text-align: center;
      padding: 10px;
      bottom: 0px;
  }
  
  .margin{
      margin-left: 3%;
  }
  
  .footerColumn {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      max-width: 125px;
      font-size: 14px;
  }
  
  .center {
      display: flex;
      justify-content: center;
  }

  .mid {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    flex-direction: row;
  }

.scaleLogo {
    scale: 60%;
}

  .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .noTopMargin {
    margin-top: 0%;
  }

  .topMargin { 
    margin-top: 5%;
  }

  .hover {
    display: flex;
  }

  .hover:hover{
    color: rgb(215, 204, 204);
  }

  body {
    background-image: url(./cyan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .color{
        color: #fff;
    }

.margin{
    margin-top: 20px;
}

  @media (max-width: 800px) {
    .hidden {
        display: none;
    }
  }

@media (max-width: 700px) {

    .topMargin {
        margin-top: 0%;
    }

    .mid {
        flex-direction: column;
        text-align: center;
    }

    .footerColumn {
        max-width: none;
    }

    .box {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.margin {
    width: 80px; 
    height: 30px; 
   
  }

  
  