.up {
  display: flex;
  background-color: rgb(20, 44, 54);
  font-size: 11px;
}

.noText {
  color: white;
  text-decoration: none;
  font-style: unset;
}

.noText:hover {
  color: rgb(215, 204, 204);
}

body {
  background-color: black;
  background-image: url(./);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
  justify-content: flex-start;
  scale: 60%;
  width: 100;
  max-width: 100%;
}

.noMargin {
  margin: 0%;
}

.space {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3%;
}

h1 {
  margin: 0%;
}

footer {
  background-color: rgb(20, 44, 54);
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0px;
}

.margin {
  margin-left: 3%;
}

.footerColumn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 125px;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
}

.mid {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  flex-direction: row;
}

.scaleLogo {
  scale: 60%;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.noTopMargin {
  margin-top: 0%;
}

.topMargin {
  margin-top: 5%;
}

.hover {
  display: flex;
}

.hover:hover {
  color: rgb(215, 204, 204);
}

.color {
  color: white;
  margin: 50px;
  margin-top: 0px;
}

.container {
  width: 1518px;
  height: 700px;
  width: auto;
}

.image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85px;
  height: 85px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}


.textImg {
  display: flex;
  flex-direction: row;
}

.text {
  color: white;
  font-size: larger;
}

.textPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topMarginText {
  margin-top: 5%;
}

.noBotMargin {
  margin-bottom: 0%;
}

.img {
  max-width: 100%;
  height: auto;
}

.margin {
  margin-left: 50px;
  margin-right: 50px;
}

.imgPosition img {
  float: right;
}

.image:hover {
  transform: scale(1.05);
}

@media (max-width: 851px) {
  .hidden {
    display: none;
  }
}

@media (max-width: 870px) {
  .change {
   flex-direction: column ;
  }
}

@media (max-width: 375px) {
  .smaller {
    font-size: 19px;
  }
}

@media (max-width: 700px) {
  .topMargin {
    margin-top: 0%;
  }

  .mid {
    flex-direction: column;
    text-align: center;
  }

  .footerColumn {
    max-width: none;
  }

  .box {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
