body {
    background-image: url(./cyanCloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.rubrik {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: #fff;
    margin-bottom: 10px;
}

.kort {

    
}
.img {
    aspect-ratio: 1 / 1 auto;
    width: 200px;
    height: auto;
    border: 2px black solid;
    max-height: 105px;
}

.posistion {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.background {
    background-color: black;
    color: #fff;
    width: 95.5%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 4px;
    margin-bottom: 35px;
    text-decoration: none;

    
}

.background {
    text-decoration: none;
}

.noUnderLine {
    text-decoration: none;
}

.background:hover {
    background-color: rgb(37, 58, 66);
}

.padding {
    padding-top: 5%;
    margin-top: 0%;
}

.noTopMargin {
    margin-top: 0%;
    margin-bottom: 15px;
}

.up {
    display: flex;
    background-color: rgb(20, 44, 54);
    font-size: 11px;
  }
  
  .noText {
      color: white;
      text-decoration: none;
      font-style: unset;
  }
  
  .noText:hover {
      color: rgb(215, 204, 204);
  }
  

  .logo{
      display: flex;
      justify-content: flex-start;
      scale: 60%;
      width: 100;
      max-width: 100%;
  }
  
  .noMargin {
      margin: 0%;
  }
  
  .space {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 3%;
  }
  
  h1{
      margin: 0%;
  }
  
  footer {
      background-color: rgb(20, 44, 54);
      color: #fff;
      text-align: center;
      padding: 10px;
      bottom: 0px;
  }
  
  .margin{
      margin-left: 3%;
  }
  
  .footerColumn {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      max-width: 125px;
      font-size: 14px;
  }
  
  .center {
      display: flex;
      justify-content: center;
  }

  .mid {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    flex-direction: row;
  }

.scaleLogo {
    scale: 60%;
}

  .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }


  .topMargin { 
    margin-top: 5%;
  }

  .hover {
    display: flex;
  }

  .hover:hover{
    color: rgb(215, 204, 204);
  }

  @media (max-width: 800px) {
    .hidden {
        display: none;
    }
  }

@media (max-width: 700px) {

    .topMargin {
        margin-top: 0%;
    }

    .mid {
        flex-direction: column;
        text-align: center;
    }

    .footerColumn {
        max-width: none;
    }

    .box {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
