.up {
  display: flex;
  background-color: rgb(183, 137, 137);
  font-size: 13px;
}

.noText {
    color: white;
    text-decoration: none;
    font-style: italic;
    
}

.noText:hover {
    color: rgb(230, 219, 219);
}

body {
    background-color: whitesmoke;
}
.logo{
    display: flex;
    justify-content: flex-start;
    scale: 60%;
}

.noMargin {
    margin: 0%;
}

.space {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3%;
}

h1{
    margin: 0%;
}

footer {
    background-color: #2a3f36;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    margin-top: 15px;
  }

  .margin{
    margin-left: 5%;
  }